html{
    height: 100%;

    display: grid;
    align-items: center;
    justify-items: center;

    --bg: rgb(233, 214, 214);
    --bg-panel: rgb(255, 255, 255);
    --color-headings: rgb(39, 41, 43);
    --color-text: #333333;
}

html[data-theme='dark']{
    --bg: #333333;
    --bg-panel: #615f5f;
    --color-headings: rgb(201, 217, 236);
    --color-text: #B5b5b5;
}

body {
	/* background-image: url("images/overlay.png"), url("images/bg.jpg"); */
	// background: linear-gradient(to right, #649173, #dbd5a4); 
	// background-repeat: repeat, no-repeat;
	// background-size: auto, 100% 100%;
	// background-attachment: fixed;
    // overflow-y: scroll;
	background-color: var(--bg);
	
}

.toggle-container{
    position:absolute;
   top:20px;
   right:20px;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--color-headings);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

